<div id="Bar">
    <div id="left">
        <button id="settings" (click)="openSettings()">
            settings
        </button>
        <button id="account" (click)="openAccount()">
            account
        </button>
    </div>
    <div id="right">
        <section id="time">
            
        </section>
    </div>
</div>
<section id="SettingsPanel" *ngIf="showSettingsPanel">
    
    <a href="#" (click)="PowerOffBtn()" >Power Off</a>
    <a class="last_a" href="#" (click)="openInformation()">Informations</a>
    
</section>
<section id="AccountPanel" *ngIf="showAccountPanel">
    <a href="#" (click)="openAccountPanels()" >Profile</a>
    <a class="last_a" href="#" (click)="logOff()">Log Out</a>
</section>
<section id="CreateAccountPanel" *ngIf="showCreateAccountPanel">
    <button class="close" (click)="closeCreateAccount()">X</button>
    <h1>Create Account</h1>
    <input class="add_user_input" type="text" id="imię" placeholder="Name" [(ngModel)]="name">
    <input class="add_user_input" type="text" id="login" placeholder="Login" [(ngModel)]="login">
    <input class="add_user_input" type="password" id="password" placeholder="Password" [(ngModel)]="password">
    <input class="add_user_input" type="password" id="password2" placeholder="Repeat Password" [(ngModel)]="password2">
    <button id="create" (click)="createAccount()">Create</button>
</section>
<section id="LogAccountPanel" *ngIf="showLoggedAccountPanel">
    <button class="close" (click)="closeLoggedAccountPanel()">X</button>
    <h1>Profile</h1>
    <p>Login: {{this.logUser}}</p>
    <p>Hasło: *************</p>
    <p></p>
</section>
<section id="Informations" *ngIf="showInformationsPanel">
    <button (click)="closeInformation()">X</button>
    <h3>Stronę stworzył <a href="https://github.com/Teczak-dev" target="_blank">Mikołaj Sobczak</a> </h3>
</section>