<main *ngIf="isLogin && isPowerOn">
  <app-upbar [logUser]="userLogin" [isLogged]="isValidUserLogin"  (powerOffEvent)="powerOff()" (LogOutEvent)="setIsLoginFalse()"></app-upbar>
  <div>
    
  </div>
  <app-dock [isLog]="isValidUserLogin" [login]="userLogin" ></app-dock>
</main>
<section id="powerOn" *ngIf="!isPowerOn">
  <button (click)="PowerOn()"></button>
</section>
<app-lockscreen (setUserLogin)="setUserLogin($event)" (setIsLogin)="userLogin" (setIsLogin)="setIsLoginTrue()" (powerOffEvent)="powerOff()"  *ngIf="!isLogin && isPowerOn"></app-lockscreen>
